# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
reactslp/node_modules
reactslp/.pnp
reactslp/.pnp.js

# testing
reactslp/coverage

# production
reactslp/build

# misc
reactslp/.DS_Store
reactslp/.env.local
reactslp/.env.development.local
reactslp/.env.test.local
reactslp/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
